body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.kpi {
    margin-bottom: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #111827;
    color: white;
}

.active {
    color: green;
    font-weight: bold;
}

.suspended {
    color: red;
    font-weight: bold;
}

.paid {
    color: green;
}

.unpaid {
    color: red;
}

button {
    padding: 5px 8px;
    margin: 2px;
    cursor: pointer;
}